 <!-- section Tittle -->
<div class="row">
    <div class="col-lg-12">
        <div class="section-tittle mb-30">
            <h3>Bài viết liên quan</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="weekly2-news-active dot-style d-flex dot-style" id="related_article">
            <div class="weekly2-single">
                <div class="weekly2-img">
                    <img class="img-fluid" src="~/img/news/p2.jpg" />
                </div>
                <div class="weekly2-caption">
                    <p><i class="fas fa-calendar-alt"></i> 19/02/2024</p>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Detail">Thời sự VTV8 "Dấu ấn kiến trúc Pháp trong đô thị Đà Nẵng"</a></h4>
                </div>
            </div>
            <div class="weekly2-single">
                <div class="weekly2-img">
                    <img class="img-fluid" src="~/img/news/post.jpg" />
                </div>
                <div class="weekly2-caption">
                    <p><i class="fas fa-calendar-alt"></i> 18/02/2024</p>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Detail">Sinh viên UD-UTE hào hứng trở lại Trường học tập sau kỳ nghỉ Tết Nguyên đán năm 2024</a></h4>
                </div>
            </div>
            <div class="weekly2-single">
                <div class="weekly2-img">
                    <img class="img-fluid" src="~/img/news/p0.jpg" />
                </div>
                <div class="weekly2-caption">
                    <p><i class="fas fa-calendar-alt"></i> 17/02/2024</p>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Detail"> Những trải nghiệm mới của sinh viên UD-UTE trong lần đầu đón Tết ở nước ngoài</a></h4>
                </div>
            </div>
            <div class="weekly2-single">
                <div class="weekly2-img">
                    <img class="img-fluid" src="~/img/news/p.jpg" />
                </div>
                <div class="weekly2-caption">
                    <p><i class="fas fa-calendar-alt"></i> 15/02/2024</p>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Detail">Trường Đại học Sư phạm Kỹ thuật - Đại học Đà Nẵng tổ chức gặp mặt đầu Xuân Giáp Thìn</a></h4>
                </div>
            </div>
            <div class="weekly2-single">
                <div class="weekly2-img">
                    <img class="img-fluid" src="~/img/news/1p.jpg" />
                </div>
                <div class="weekly2-caption">
                    <p><i class="fas fa-calendar-alt"></i> 09/02/2024</p>
                    <h4><a asp-area="" asp-controller="Home" asp-action="Detail">Các trường khối STEM vào 'đường đua' đào tạo ngành vi mạch bán dẫn</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>