<div class="widget recent-post-widget" id="menu-gv">
    <h3 class="mb-0">Cán bộ - Giảng viên</h3>
    <div class="menu">
        <div class="item"><a href="#">Thông báo</a></div>
        <div class="item"><a href="#">Tin tức - Sự kiện</a></div>
        <div class="item"><a href="#">Danh sách Cán bộ - Giảng viên</a></div>
        <div class="item"><a href="#">Đoàn thể</a></div>
        <div class="item">
            <a class="sub-btn">Nghiên cứu khoa học <i class="fas fa-chevron-down dropdown"></i></a>
            <div class="sub-menu">
                <a href="#" class="sub-item">Hội nghị - Hội thảo</a>
                <a href="#" class="sub-item">Đề tài khoa học các cấp</a>
                <a href="#" class="sub-item">Tra cứu lý lịch khoa học</a>
            </div>
        </div>
        <div class="item"><a href="#">Khen thưởng</a></div>
        <div class="item"><a href="#">Kỷ luật</a></div>
        <div class="item"><a href="#">Đăng ký nghỉ dạy - dạy bù</a></div>
    </div>
</div>