@model QLDaoTao.Models.AppNew
@{
    ViewData["Title"] = "Edit";
    var isPost = ViewBag.isPost;
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="box-title text-white mb-0">Thêm mới bài viết</h4>
        </div>
        <div class="card-body">           
            <div asp-validation-summary="All" class="text-danger"></div>
            <form enctype="multipart/form-data" method="post" id="createPost">
                <partial name="~/Areas/Admin/Views/New/_Form.cshtml" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>

    <script>

        $("#postPublish").click(function () {
            $("#createPost").submit();
        });

        $("#postDraft").click(function () {
            $("#postStatus").val("Draft");
            $("#createPost").submit();
        });

        var editor = CKEDITOR.replace('textareaContent', {
            filebrowserUploadUrl: '/admin/new/upload_ckeditor',
            filebrowserBrowseUrl: '/admin/new/filebrowse',
            height: '300px'
        });

        editor.resize('100%', 500);
        function changeBlogPostImage() {
            $("#imgPrev").attr("disabled", "disabled");
            $("#imgFile").removeAttr("type");
            $("#imgFile").attr("type", "file");
            $("#imgFile").removeAttr("disabled");
            $("#imgFile").removeAttr("readonly");
            $("#changPostImage").text("Hủy");
            $("#changPostImage").removeAttr("class");
            $("#changPostImage").attr("class", "btn-sm btn-danger text-light");
            $("#changPostImage").attr("id", "cancelChange");
        }

        function changeActionCacelImage() {
            $("#cancelChange").attr("id", "changPostImage");
            $("#imgFile").attr("disabled", "disabled");
            $("#imgPrev").removeAttr("disabled");
            $("#changPostImage").attr("class", "btn-sm btn-primary text-light");
            $("#imgFile").attr("type", "hidden");
        }

        $(document).ready(function () {
            $("#changPostImage").click(function () {
                changeBlogPostImage();
                $("#cancelChange").click(function () {
                    changeActionCacelImage();
                });
            });
        });
    </script>
}


