@{
    ViewData["Title"] = "Trang Giảng Viên";
}
<!-- breadContent -->
<div id="breadContent" class="container">
    <div class="breadcrumb">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
        <span class="br-span">/</span>
        <a asp-area="" asp-controller="Home" asp-action="Detail" class="title_tb">
            <span itemprop="name">UD-UTE: Hội thảo khoa học quốc tế “Carbon ...</span>
        </a>
    </div>
</div>
<!-- End breadContent -->
<!--  Content Articles start -->
<div class="recent-articles">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3">
                <partial name="_SidebarTinTuc"></partial>
            </div>
            <div class="col-lg-9">
                <div class="ute-detail-title">
                    <h5 class="title-detail">UD-UTE: Hội thảo khoa học quốc tế “Carbon và vật liệu thân thiện với năng lượng và môi trường” lần thứ 03 – CMEE 2024 kết nối nhiều nhà khoa học trên thế giới</h5>
                    <div class="date mb-3"><i class="fas fa-calendar-alt"></i> 19/02/2024 </div>
                    <p>
                        Hiện nay, việc nghiên cứu tiết kiệm năng lượng, xây dựng môi trường sống xanh đang là xu hướng và mục tiêu của các nhà khoa học trên toàn thế giới. Trên cơ sở đó, trong hai ngày 22/02 và 23/02/2024, Trường Đại học Sư phạm Kỹ thuật – Đại học Đà Nẵng đã phối hợp với Đại học Quốc gia ChungBuk, Đại học Seoul, Hiệp hội Công nghệ sạch Hàn Quốc và Viện Kỹ thuật Hóa học Hàn Quốc đồng tổ chức Hội thảo khoa học quốc tế “Carbon và vật liệu thân thiện với năng lượng và môi trường” lần thứ 03 – CMEE 2024 (sau đây gọi tắt là Hội thảo).
                    </p>
                    <p>
                        Tham dự Hội thảo, về phía khách mời có: GS. Jai-Young Lee - Hiệu trưởng Trường Công nghệ Môi trường, Đại học Seoul, Trưởng ban tổ chức; GS. Young Kwon Park, Đại học Seoul; cùng các giáo sư, giảng viên đến từ các nước: Việt Nam, Hàn Quốc, Đài Loan, Trung Quốc, Ấn Độ, Malaysia và nhiều quốc gia khác; cùng với sự hiện diện của TS. Vũ Thị Bích Hậu – Giám đốc Sở Nông nghiệp và Phát triển nông thôn thành phố Đà Nẵng; PGS. TS. Lê Thành Bắc – Phó Giám đốc Đại học Đà Nẵng;
                        Về phía lãnh đạo nhà trường có: PGS. TS. Nguyễn Lê Hùng - Phó Hiệu trưởng; đại diện lãnh đạo các phòng, khoa, trung tâm, tổ thuộc Trường; cùng các giảng viên và sinh viên của nhà trường.
                    </p>
                    <p>
                        Hội thảo lần này nằm trong chuỗi sự kiện được Trường Đại học Sư phạm Kỹ thuật tổ chức để chào mừng kỷ niệm 30 năm xây dựng và phát triển Đại học Đà Nẵng (04/4/1994 – 04/4/2024). Là một trường thành viên của Đại học Đà Nẵng, với sứ mạng đào tạo nguồn nhân lực kỹ thuật, giáo dục nghề nghiệp chất lượng cao, thực hiện các hoạt động khoa học và công nghệ, đáp ứng yêu cầu của Cách mạng công nghiệp 4.0 và nhu cầu phát triển kinh tế – xã hội khu vực miền Trung – Tây Nguyên và cả nước, Trường Đại học Sư phạm Kỹ thuật đã mở rộng hợp tác nghiên cứu khoa học, hợp tác quốc tế để trao đổi học thuật thông qua những hội thảo mang tính khoa học cao, điển hình như CMEE 2024.
                    </p>
                    <img class="img-fluid" src="~/img/thongbao/_mg_7603.jpg" />
                    <div class="text-center mt-1 mb-3"><i>GS. Jai-Young Lee phát biểu khai mạc Hội thảo</i></div>
                    <p>
                        Phát biểu tại Hội thảo, PGS. TS. Nguyễn Lê Hùng cho biết: “Trong những năm gần đây, các vật liệu thân thiện với năng lượng và môi trường đã đóng một vai trò quan trọng trong việc giảm lượng khí thải carbon trên toàn thế giới. Tại Việt Nam, Thủ tướng Chính phủ tuyên bố đạt mức phát thải carbon bằng 0 vào năm 2050 trong Hội nghị thượng đỉnh các nhà lãnh đạo thế giới COP26 năm 2021; tháng 7/2022, Việt Nam đã ban hành mục tiêu phát thải ròng bằng 0 tại Quyết định số 896/QĐ-TTg của Thủ tướng Chính phủ phê duyệt Chiến lược quốc gia về biến đổi khí hậu, hướng dẫn hành động khí hậu của Việt Nam đến năm 2050. Thực hiện cam kết quốc gia, các trường đại học tại Việt Nam đã thực hiện nhiều dự án nghiên cứu liên quan đến vật liệu cho năng lượng xanh và môi trường tạo ra kết quả công bố uy tín trong những năm gần đây. Là một trường đại học thành viên của Đại học Đà Nẵng, Trường Đại học Sư phạm Kỹ thuật có 17 chương trình đào tạo đại học (bao gồm kỹ thuật môi trường, công nghệ vật liệu và kỹ thuật hóa học) hàng năm xuất bản hơn 40 bài báo của WoS / Scopus liên quan đến các lĩnh vực hội nghị chuyên đề”.
                    </p>
                    <div class="tag-holder-box mt-4">
                        <div class="left float-left">                           
                            <ul>
                                <li>
                                    <a class="pointer" onclick="return fb_click()" target="_blank">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer" onclick="return tw_click()" target="_blank">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer" onclick="return li_click()" target="_blank">
                                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="weekly2-news-area  weekly2-pading">
                    <div class="container">
                        <div class="weekly2-wrapper">
                            <partial name="_RelatedArticles"></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content Articles End -->