@{
    ViewData["Title"] = "Hệ thống Quản lý";
}
<!-- MainGVSV-Area -->
<div class="container pb-2">
    <div class="button-group-area mt-40 text-center">
        <a class="genric-btn btn-sytem radius " asp-area="Teacher" asp-controller="Home" asp-action="Index"><img class="mr-2 w-img-gv" src="~/img/icon/giangvien.png" />Cán bộ - Giảng viên</a>
        <a class="genric-btn btn-sytem radius " asp-area="" asp-controller="Home" asp-action="SinhVien"><img class="mr-2" src="~/img/icon/iconsinhvien.png" />Sinh viên</a>
    </div>
</div>
<!-- End-MainGVSV -->
<!--  Content main start -->
<div class="content-main-home">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-4 animate-box">
                <div class="main-box thongbao-box">
                    <partial name="_ThongTinThongBao"></partial>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="main-box tintuc-box">
                    <partial name="_TinTucSuKien"></partial>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="main-box lienket-box">
                    <partial name="_PageLienKet"></partial>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content Main End -->