@{
    ViewData["Title"] = "Trang Sinh viên";
}

<!--  Content Articles start -->
<div class="recent-articles">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3">
                <div class="main-box tintuc-box">
                    <partial name="_SidebarPageSinhVien"></partial>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-box thongbao-box">
                    <partial name="_ThongTinThongBao"></partial>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="main-box lienket-box">
                    <partial name="_PageLienKet"></partial>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content Articles End -->