<div class="widget recent-link-widget">
    <h3 class="mb-0">Liên kết</h3>
    <div class="content-main">
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <img src="~/img/news/bgd-logo.png" />
                </div>
                <div class="details">
                    <h4>
                        <a href="https://moet.gov.vn/Pages/home.aspx">Bộ Giáo dục và Đào tạo</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <img src="~/img/news/bk.png" />
                </div>
                <div class="details">
                    <h4>
                        <a href="https://dut.udn.vn/">Trường Đại học Bách Khoa - Đại học Đà Nẵng</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <img src="~/img/news/kt.png" />
                </div>
                <div class="details">
                    <h4>
                        <a href="http://due.udn.vn/">Trường Đại học Kinh tế - Đại học Đà Nẵng</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <img src="~/img/news/sp.png" />
                </div>
                <div class="details">
                    <h4>
                        <a href="https://ued.udn.vn/">Trường Đại học Sư phạm - Đại học Đà Nẵng</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <img src="~/img/news/nn.png" />
                </div>
                <div class="details">
                    <h4>
                        <a href="http://ufl.udn.vn/vie/">Trường Đại học Ngoại Ngữ - Đại học Đà Nẵng</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <img src="~/img/news/logo_phân_hiệu_đại_học_đà_nẵng_tại_kon_tum.png" />
                </div>
                <div class="details">
                    <h4>
                        <a href="https://kontum.udn.vn/">UD-CK Phân hiệu Đại học Đà Nẵng tại Kon Tum</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>