<div class="widget recent-tb-widget">
    <h3 class="mb-0">Thông tin - Thông báo</h3>
    <div class="content-main">
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <div class="calendar-thr">
                        <h6>23/01</h6>
                        <span>2024</span>
                    </div>
                </div>
                <div class="details">
                    <h4>
                        <a href="">Quyết định về việc kiện toàn Ban Chỉ đạo và Tổ Thư ký xây dựng Đề án chuyển đổi số của Đại học Đà Nẵng</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <div class="calendar-thr">
                        <h6>19/01</h6>
                        <span>2024</span>
                    </div>
                </div>
                <div class="details">
                    <h4>
                        <a href="">Quyết định về việc công bố công khai dự toán ngân sách nhà nước năm 2024</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <div class="calendar-thr">
                        <h6>18/01</h6>
                        <span>2024</span>
                    </div>
                </div>
                <div class="details">
                    <h4>
                        <a href="">Công văn về việc tuyển dụng Chuyên viên/ Kỹ thuật viên sang Đức làm việc cho dây chuyền Nhà máy CBTP</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <div class="calendar-thr">
                        <h6>17/01</h6>
                        <span>2024</span>
                    </div>
                </div>
                <div class="details">
                    <h4>
                        <a href="">Thông báo đăng ký nhu cầu bồi dưỡng cán bộ, công chức năm 2024</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <div class="calendar-thr">
                        <h6>10/01</h6>
                        <span>2024</span>
                    </div>
                </div>
                <div class="details">
                    <h4>
                        <a href="">Thông báo số 01 Viết bài tham dự Hội thảo 3 Đại học Vùng "30 năm Đại học Vùng - Thực tiễn và triển vọng"</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post">
                <div class="img-holder">
                    <div class="calendar-thr">
                        <h6>09/01</h6>
                        <span>2024</span>
                    </div>
                </div>
                <div class="details">
                    <h4>
                        <a href="">Quyết định về việc ủy quyền cho Phó Trưởng khoa phụ trách Khoa Giáo dục Quốc phòng và An ninh, Đại học Đà Nẵng</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>